* {
    margin: 0;
    padding: 0;
}

/* to remove the top and left whitespace */

html,
body {
    width: 100vw;
    height: 100vh;
}

#primary {
    width: 100%;
    height: 100%;
    background-color: green;
}

audio {
    display: none;
}

p#float {
    position: fixed;
    right: 1em;
    bottom: 1em;
    background: white;
    font-weight: bolder;
    /* width: min-content; */
    padding: 0.5em;
    border-radius: 0.25em;
}

.bird {
    position: fixed;
    transform: scale(0.2, 0.2);
    transform-origin: top left;

    transition-property: top, left;
    transition-duration: 0.3s;

    filter: drop-shadow(20pt 30pt 10pt black);
}
